:root {
  --color-primary: #203a43;
  --color-primary-dark: #0f2027;
  --color-primary-light: #2c5364;
  --color-gray-light-1: #f7f7f7;
  --color-gray-light-2: #eee;
  --color-gray-dark: #777;
  --color-gray-dark-2: #999;
  --color-gray-dark-3: #333;
  --color-white: #fff;
  --color-black: #000;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --container-margin-vertical: 7rem;
  --section-icon-width: 5rem;
  --section-icon-height: var(--section-icon-width);
  --section-icon-margin-right: 2rem;
  --section-icon-margin-left: 5rem;
  --header-padding-horizontal: calc(var(--section-icon-width) + var(--section-icon-margin-right) + var(--section-icon-margin-left));
  --header-padding-bottom: 3rem;
  --section-margin-vertical: 3rem;
  --section-padding-right: var(--header-padding-horizontal); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  min-height: calc(100vh - var(--container-margin-vertical));
  color: var(--color-gray-dark-2);
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
  background: var(--color-black) linear-gradient(to right, var(--color-primary-dark), var(--color-primary), var(--color-primary-light)) repeat scroll 0% 0%; }

.section-icon {
  width: var(--section-icon-width);
  height: var(--section-icon-height);
  margin-right: var(--section-icon-margin-right);
  margin-left: var(--section-icon-margin-left);
  background-color: var(--color-white);
  border-radius: 50%; }
  .section-icon__icon {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(var(--section-icon-width) / 2);
    height: calc(var(--section-icon-height) / 2);
    fill: var(--color-primary); }

.container {
  max-width: 120rem;
  height: 50rem;
  margin: 7rem auto;
  background-color: var(--color-gray-light-1);
  box-shadow: var(--shadow-dark); }

.header {
  display: flex;
  justify-content: space-between;
  padding: 5rem var(--header-padding-horizontal) var(--header-padding-bottom);
  color: var(--color-primary);
  font-weight: 300;
  line-height: 1.3;
  background-color: var(--color-white); }
  .header__name {
    font-size: 6rem; }
  .header__name--bold {
    display: block;
    font-weight: 600; }
  .header__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.4rem;
    list-style: none; }
  .header__info {
    display: flex;
    align-items: center;
    padding: 0.5rem 0; }
  .header__data {
    flex: 1;
    text-align: right; }
  .header__data:link, .header__data:visited {
    color: inherit;
    text-decoration: none; }
  .header__icon {
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 1.5rem;
    fill: var(--color-primary); }

section {
  margin: var(--section-margin-vertical) 0;
  padding-right: var(--section-padding-right); }

.experience {
  display: flex; }
  .experience__content {
    display: flex;
    flex-direction: column; }
  .experience__header {
    flex: 0 0 var(--section-icon-height);
    color: var(--color-primary);
    font-size: 3rem;
    line-height: var(--section-icon-height); }
