@keyframes pulsate {
  0% {
    box-shadow: none;
    transform: scale(1);
  }

  50% {
    box-shadow: var(--shadow-header-icons);
    transform: scale(1.05);
  }

  100% {
    box-shadow: none;
    transform: scale(1);
  }
}
