@keyframes pulsate {
  0% {
    box-shadow: none;
    transform: scale(1);
  }

  50% {
    box-shadow: var(--shadow-header-icons);
    transform: scale(1.05);
  }

  100% {
    box-shadow: none;
    transform: scale(1);
  }
}

@keyframes slideInBottom {
  0% {
    transform: translateY(3rem);
    opacity: 0;
  }

  80% {
    transform: translateY(-1rem);
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes clipHeader {
  0% {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  }

  100% {
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  }
}
