.section-icon {
  width: var(--section-icon-width);
  height: var(--section-icon-height);
  margin-right: var(--section-icon-margin-right);
  margin-left: var(--section-icon-margin-left);

  background-color: var(--color-white);

  border-radius: 50%;

  &__icon {
    @include absolute-center;
    width: calc(var(--section-icon-width) / 2);
    height: calc(var(--section-icon-height) / 2);

    fill: var(--color-primary);
  }
}
