.container {
  max-width: 120rem;
  // TODO: Allow height to be set by content. This is for testing only.
  height: 50rem;
  margin: 7rem auto;

  background-color: var(--color-gray-light-1);

  box-shadow: var(--shadow-dark);
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 5rem var(--header-padding-horizontal) var(--header-padding-bottom);

  color: var(--color-primary);
  font-weight: 300;
  line-height: 1.3;

  background-color: var(--color-white);

  &__name {
    font-size: 6rem;
  }

  &__name--bold {
    display: block;

    font-weight: 600;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-size: 1.4rem;

    list-style: none;
  }

  &__info {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
  }

  &__data {
    flex: 1;

    text-align: right;
  }

  &__data:link,
  &__data:visited {
    color: inherit;
    text-decoration: none;
  }

  &__icon {
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 1.5rem;

    fill: var(--color-primary);
  }
}

section {
  margin: var(--section-margin-vertical) 0;
  padding-right: var(--section-padding-right);
}

.experience {
  display: flex;

  &__content {
    display: flex;
    flex-direction: column;
  }
}
