:root {
  --color-primary: #203a43;
  --color-primary-dark: #0f2027;
  --color-primary-light: #2c5364;

  --color-gray-light-1: #f7f7f7;
  --color-white: #fff;
  --color-black: #000;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-header-icons: 0 0 1rem var(--color-white);
  --shadow-education-cards: 0.25rem 0.25rem 0.5rem var(--color-primary);

  --container-margin-vertical: 7rem;
  
  --header-icon-container-width: 3.5rem;
  --header-icon-container-height: var(--header-icon-container-width);

  --section-margin-vertical: 5rem;
}
