:root {
  --color-primary: #203a43;
  --color-primary-dark: #0f2027;
  --color-primary-light: #2c5364;

  --color-gray-light-1: #f7f7f7;
  --color-gray-light-2: #eee;
  --color-gray-dark: #777;
  --color-gray-dark-2: #999;
  --color-gray-dark-3: #333;
  --color-white: #fff;
  --color-black: #000;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);

  --container-margin-vertical: 7rem;
}
